{% extends "_layout.html" %}
{% block title %}
  Homepage
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="row">
        <div class="col-md-12 carousel-btn p-0">
          <div class="cold-md-12 owl-carousel">
            {% for result in results[:8] %}
            <div class="item">
              <a href="{{result['link']}}">
                <img height="300px" src="{{result['image']}}" class="child d-block w-100 carousel-article" alt="{{result['title']}}" style="background: rgba(0,0,0,0.25); z-index: 1;"/>
                <div class="bottom-left">
                <h5><strong>{{result['title']}}</strong></h5>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="container-fluid carousel-controls">
                <button type="button" role="presentation" class="btn btn-primary owl-prev"><</button>
                <button type="button" role="presentation" class="btn btn-primary owl-next">></button>
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 main-container border border-primary tabContainer">
                <div class="tab">
                        <button class="tablinks active" onclick="openTab(event, 'Fashion')" id="defaultOpen">Fashion</button>
                        <button class="tablinks" onclick="openTab(event, 'Technology')">Technology</button>
                        <button class="tablinks" onclick="openTab(event, 'Beauty')">Beauty</button>
                        <button class="tablinks" onclick="openTab(event, 'Lifestyle')">Lifestyle</button>
                      </div>
                      
                      <!-- Tab content -->
                      <div id="Fashion" class="tabcontent">
                      {% for result in results %}
                        {% if result['category']=='Fashion' %}
                          <div class="tab-card d-flex justify-content-between">
                            
                              <a href="{{result['link']}}">
                                <div class="d-inline">
                                  <img width="280px" height="200px" src="{{result['image']}}" />
                                </div>
                                <div class="information d-inline" style="text-align: left">
                                    <p>{{result['title']}}</p>
                                    <p>{{result['desc']}}</p>
                                    <p>{{result['category']}}</p>
                                  </div>  
                              </a>
                            
                          </div>     
                            {% endif %}
                          {% endfor %}
                      </div>
                      
                      <div id="Beauty" class="tabcontent" style="display: none">
                          {% for result in results %}
                          {% if result['category']=='Beauty' %}
                            <div class="tab-card">
                              
                                <a href="{{result['link']}}">
                                    <img width="220px" height="140px" src="{{result['image']}}" />
                                    <div class="information">
                                      <p>{{result['title']}}</p>
                                      <p>{{result['desc']}}</p>
                                      <p>{{result['category']}}</p>
                                    </div>  
                                </a>
                              
                            </div>     
                              {% endif %}
                            {% endfor %}
                        </div> 
                      
                      <div id="Technology" class="tabcontent">
                          {% for result in results %}
                          {% if result['category']=='Technology' %}
                            <div class="tab-card">
                              
                                <a href="{{result['link']}}">
                                    <img width="220px" height="140px" src="{{result['image']}}" />
                                    <div class="information">
                                      <p>{{result['title']}}</p>
                                      <p>{{result['desc']}}</p>
                                      <p>{{result['category']}}</p>
                                    </div>  
                                </a>
                              
                            </div>     
                              {% endif %}
                            {% endfor %}
                        </div> 

                <div id="Lifestyle" class="tabcontent">
                  {% for result in results %}
                  {% if result['category']=='Lifestyle' %}
                    <div class="tab-card">
                      
                        <a href="{{result['link']}}">
                            <img width="220px" height="140px" src="{{result['image']}}" />
                            <div class="information">
                              <p>{{result['title']}}</p>
                              <p>{{result['desc']}}</p>
                              <p>{{result['category']}}</p>
                            </div>  
                        </a>
                      
                    </div>     
                      {% endif %}
                    {% endfor %}
                </div>
          </div>
          <div class="col-md-3 p-0 border border-danger sticky-top trending-hashtag">
              <div class="container">
                <div class="fa fa-twitter" style="float: left"></div>
                <h4>Twitter Tag</h4> 
                  <ul>
                    {% for tag in twitter_tag[:20] %}
                        <li>{{tag}}</li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="container">
                <div>
                  <i class="fab fa-instagram"></i>
                </div>
                <h4>Insta Tag</h4> 
                  <ul>
                    {% for tag in insta_tag[:20] %}
                        <li>{{tag}}</li>
                    {% endfor %}
                  </ul>
              </div>
          </div>
        </div>
      
      <script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:4,
            loop:true,
            margin:0,
            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:true,
            navText: ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
        });
      
        var owl = $('.owl-carousel');
          owl.owlCarousel();
          // Go to the next item
          $('.owl-next').click(function() {
              owl.trigger('next.owl.carousel', [1000]);
          })
          // Go to the previous item
          $('.owl-prev').click(function() {
              // With optional speed parameter
              // Parameters has to be in square bracket '[]'
              owl.trigger('prev.owl.carousel', [1000]);
          })

          function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

        }
        document.getElementById("defaultOpen").click();
          
      </script>
      {% endblock %}