{% extends "_layout.html" %}
{% block title %}
  Homepage
{% endblock %}
{% block css %}
<style>
  body{
    background: #d9d9d9;
  }
  h4 {
    font-family: 'Lilita One', 'Concert One', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #595959;
    letter-spacing: 2px;
    padding: 18px;
    margin-right: 20px;
  }
  h5 {
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    font-size: 1em;
    color: #f5f5f5;
    font-weight: 600;
  }
  ul{
    list-style: none;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 carousel-btn p-0">
      <div class="container cold-md-12 owl-carousel">
        {% for headline in headlines %}
        <div class="item">
          <a href="{{headline['link']}}">
            <img height="300px" src="{{headline['image']}}" class="child darken d-block w-100 carousel-article" alt="{{headline['title']}}" style="background: rgba(0,0,0,0.25); z-index: 1;"/>
            <div class="bottom-left">
              <h5><strong>{{headline['title']}}</strong></h5>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="container-fluid carousel-controls">
        <button type="button" role="presentation" class="btn btn-primary owl-prev"><</button>
        <button type="button" role="presentation" class="btn btn-primary owl-next">></button>
      </div>
    </div>
</div>
      
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 main-container tabContainer">
        <div class="tab">
          <button class="tablinks active" onclick="openTab(event, 'Fashion')" id="defaultOpen">Fashion</button>
          <button class="tablinks" onclick="openTab(event, 'Beauty')">Beauty</button>
          <button class="tablinks" onclick="openTab(event, 'Technology')">Technology</button>
          <button class="tablinks" onclick="openTab(event, 'Sport')">Sport</button>
          <button class="tablinks" onclick="openTab(event, 'Lifestyle')">Lifestyle</button>
          <button class="tablinks" onclick="openTab(event, 'Food')">Food</button>
        </div>
                
        <!-- Tab content -->
        <div id="Fashion" class="tabcontent">
          {% for result in results %}
            {% if result['category']=='Fashion' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div>
                    <div class="information d-inline" style="text-align: left">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div>
                
        <div id="Beauty" class="tabcontent" style="display: none">
          {% for result in results %}
            {% if result['category']=='Beauty' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div> 
                    <div class="information d-inline" style="text-align: left">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div> 
                
        <div id="Technology" class="tabcontent">
          {% for result in results %}
            {% if result['category']=='Technology' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div>
                    <div class="information">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div> 

        <div id="Sport" class="tabcontent">
          {% for result in results %}
            {% if result['category']=='Sport' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div>
                    <div class="information">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div>

        <div id="Lifestyle" class="tabcontent">
          {% for result in results %}
            {% if result['category']=='Lifestyle' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div>
                    <div class="information">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div>

        <div id="Food" class="tabcontent">
          {% for result in results %}
            {% if result['category']=='Food' %}
              <div class="tab-card d-flex justify-content-between">
                  <a href="{{result['link']}}">
                    <div class="d-inline">
                      <img width="350px" src="{{result['image']}}" />
                    </div>
                    <div class="information">
                      <p class="text-muted">{{result['category']}}</p>
                      <p>{{result['title']}}</p>
                      {% if result['desc'] %}
                        {% if result['desc']|length < 80 %}
                          <p>{{result['desc']}}</p>
                        {% else %}
                          <p>{{(result['desc'])[:80]}}...</p>
                        {% endif %}
                      {% endif %}
                    </div>  
                  </a>
              </div>     
            {% endif %}
          {% endfor %}
        </div>

    </div>
    <div class="col-md-3 p-0 sticky-top trending-hashtag" style="max-width:255px;">
        <div class="container border rounded mb-2" style="background:white;">
          <div class="fa fa-twitter" style="float: left"></div>
          <h4>Twitter</h4> 
          <p class="border-bottom text-center">Top 20 trending hashtags</p> 
            <ul class="pl-2 pr-5">
              {% for tag in twitter_tag[:20] %}
                <a href="https://twitter.com/hashtag/{{tag[1:]}}">
                  <li class="pb-1">{{tag}}</li>
                </a>
              {% endfor %}
            </ul>
        </div>
        <div class="container border rounded mb-2" style="background:white;">
          <div class="fa fa-instagram" style="float: left"></div>
          <h4>Instagram</h4> 
          <p class="border-bottom text-center">Top 20 popular hashtags</p> 
            <ul class="pl-2 pr-5">
              {% for tag in insta_tag[:20] %}
                <a href="https://www.instagram.com/explore/tags/{{(tag[1:])}}">
                  <li class="pb-1">{{tag}}</li>
                </a>
              {% endfor %}
            </ul>
        </div>
    </div>
  </div>
</div>
      <script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:3,
            loop:true,
            margin:0,
            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:true,
            navText: ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
        });
      
        var owl = $('.owl-carousel');
          owl.owlCarousel();
          // Go to the next item
          $('.owl-next').click(function() {
              owl.trigger('next.owl.carousel', [1000]);
          })
          // Go to the previous item
          $('.owl-prev').click(function() {
              // With optional speed parameter
              // Parameters has to be in square bracket '[]'
              owl.trigger('prev.owl.carousel', [1000]);
          })

          function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

        }
        document.getElementById("defaultOpen").click();
          
      </script>
      {% endblock %}
