{% extends "_layout.html" %}
{% block title %}
  Dashboard
{% endblock %}
{% block css%}
<style>
  body{
    background: #d9d9d9;
  }
</style>{% endblock%}
{% block content %}

<div class="intro container-fluid border border-success">

    <div class="typewriter">
        <h2>Articles</h2>
      </div>

  <div class="row">

    <div class="col-md-12 border border-primary main-container intro_content d-flex flex-wrap justify-content-between">
      {% for result in results[:20] %}
      <div class="intro_item">
        <a href="{{result['link']}}">
          <div class="intro_image">
            <img src="{{result['image']}}" alt="{{result['title']}}">
          </div>
        
        <div class="intro_body">
          <div class="intro_subtitle">
            <p>{{result['category']}}</p>
          </div>
          <div class="intro_title">
            <p>{{result['title']}}</p>
          </div>
          {% if result['desc'] %}
            {% if result['desc']|length < 100 %}
            <div class="intro_subtitle">
              <p>{{result['desc']}}</p>
            </div>
            {% else %}
            <div class="intro_subtitle">
              <p>{{(result['desc'])[:100]}}...</p>
            </div>
            {% endif %}
          {% endif %}
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}

