{% extends "_layout.html" %}
{% block title %}
  Marketing tips
{% endblock %}
{% block css %}
<style>
    body{
        background: #d9d9d9;
    }
    a:link{
        text-decoration: none;
        color:black!important;
    }
    .card{
        background:#f5f5f5;
        transition: 1s;
    }
    h5{
        letter-spacing: 2px;
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: 2px 2px 2px #000;
    }
</style>
{% endblock%}
{% block content %}
<div class="card-columns">
    {% for result in results %}
    <div class="card">
        <a href="{{result['link']}}">
            <img src='{{result["image"]}}' class="card-img-top" alt="">
        </a>
        <a href="{{result['link']}}">
            <div class="card-body">
                <h5 class="card-title">{{result['title']}}</h5>
            </div>
        </a>
        <p style="font-size:15px" class="card-text px-4 pb-5">{{result['desc']}}</p>
    </div>
    {% endfor %}
</div>
    
{% endblock %}